<!--<p>login works!</p>-->
<!--<a routerLink="/register">注册</a>-->
<!--<div></div>-->
<!--<a routerLink="/">登录成功</a>-->
<div class="loginFormContainer">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

        <mat-form-field appearance="fill">
            <mat-label>Enter your email</mat-label>
            <input matInput placeholder="pat@example.com" [formControl]="email" required>
            <mat-error *ngIf="email.invalid">{{getErrorMessage(email)}}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Enter your password</mat-label>
            <input matInput placeholder="password" [formControl]="password" required>
            <mat-error *ngIf="password.invalid">{{getErrorMessage(password)}}</mat-error>
        </mat-form-field>

        <button mat-stroked-button type="submit">Submit</button>
    </form>

</div>
